- if notice
	%p#notice= notice

%h1 Pragmaticカタログ
- @products.each do |product|
	.entry
		= image_tag(product.image_url)
		%h3= product.title
		= sanitize(product.description)
		.price_line
			//%span.price= product.price
			%span.price= number_to_currency(product.price)
			.btn-group
			= button_to 'カートに入れる',line_items_path(product_id: product) ,:class => 'btn btn-primary btn-small'